h1{color: rgb(3, 239, 3); text-align: center;}
h3{text-align: center;}
h4{text-align: center;}
img{text-align: center;}
*{text-align: center;}
div{background-color: rgb(170, 172, 161); width: 70%; margin-left: 200px;}
div button{width: 90%; background-color:rgb(3, 239, 3) ;}